<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://archive.org/download/428-snapchat-12.37.0-1691521748/428%20Snapchat%20_12.37.0_1691521748.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://archive.org/download/462277-f-1-ebed-4061-bc-57-5-b-7-a-907-f-18-e-8/__ia_thumb.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://archive.org/download/462277-f-1-ebed-4061-bc-57-5-b-7-a-907-f-18-e-8/__ia_thumb.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.toyopagroup.picaboo1</string>
				<key>bundle-version</key>
				<string>438</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>snapchat</string>
				<key>title</key>
				<string>📥snapchat📥

‎تایەبەتە بە چەناڵی

✔️IS STORE✔️	

لەتێلێگرام

</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
